main {
  justify-content: center;
  align-items: center;
  margin: 0;
}


 /* Causes Section */

.Causes {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.main_title {
  margin-top: 90px;
  font-size: 35px;
  margin-left: 450px;
  font-weight: 90;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Circle_Group {
  display: flex;
  margin-top: -25px;
  gap: 50px;
}


.circle_Group:hover {
  
  transform: 10px;
  width: 300px;
  border-radius: 50px;
  padding-bottom: 50px;
}

.tree {
  background-color: red;
  box-shadow: 0 0 22px #3336;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 50px;
  transition: transform 0.8s ease;
  -webkit-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
}

.tree:hover {
  transform: 10px;
  width: 300px;
  border-radius: 50px;
  padding-bottom: 50px;
}

#tree {
  position: relative;
  margin-left: 25px;
  margin-top: 35px;
  width: 250px;
  height: 230px;
  border-radius: 50%;
  transition: .6s;
  z-index: 99;
}

#tree:hover {
  transform: 10px;
  width: 300px;
  border-radius: 50px;
  padding-bottom: 50px;
}



.car {
  background-color: green;
  box-shadow: 0 0 22px #3336;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 50px;
  transition: transform 0.8s ease;
  -webkit-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
}

.car:hover {
  transform: 10px;
  width: 300px;
  border-radius: 50px;
  padding-bottom: 50px;
}

#car {
  position: relative;
  margin-left: 25px;
  margin-top: 35px;
  width: 250px;
  height: 230px;
  border-radius: 120px;
  transition: .6s;
  z-index: 99;
}

#car:hover {
  transform: 10px;
  width: 300px;
  border-radius: 50px;
  padding-bottom: 50px;
}

.knowledge {
  background-color: yellow;
  box-shadow: 0 0 22px #3336;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 50px;
  transition: transform 0.8s ease;
  -webkit-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
}

.knowledge:hover {
  transform: 10px;
  width: 300px;
  border-radius: 50px;
  padding-bottom: 50px;
}

#knowledge {
  position: relative;
  margin-left: 25px;
  margin-top: 35px;
  width: 250px;
  height: 230px;
  border-radius: 120px;
  transition: .6s;
  z-index: 99;
}

#knowledge:hover {
  transform: 10px;
  width: 300px;
  border-radius: 50px;
  padding-bottom: 50px;
}

h3{
  color: transparent;
  user-select: none; 
}


p { 
  color: transparent; /* make the text invisible */
  user-select: none; /* prevent selection of the text */
}

p:hover {
  color: black;
}

  /* Effect Section */

.Effect {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

.Effect h2 {
    margin-left: 480px;
    margin-top: -60px;
    font-size: 3em;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.card {
    background-color: #4CAF50;
    margin-left: 30px;
    transition: transform .2s; /* Animation */
    padding: 20px;
    width: 220px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
